<div class="container-fluid full-height full-width">
    <div class="deck card-deck p-4">
        <div class="card bg-primary" (click)="navigate('/map')">
            <div class="card-body text-center">
                <p class="card-text">Map</p>
            </div>
        </div>
        <div class="card bg-warning" (click)="navigate('/rides')">
            <div class="card-body text-center">
                <p class="card-text">Rides</p>
            </div>
        </div>
    </div>
    <div class="deck card-deck p-4">
        <div class="card bg-primary" (click)="navigate('/eateries')">
            <div class="card-body text-center">
                <p class="card-text">Eateries</p>
            </div>
        </div>
        <div class="card bg-warning" (click)="navigate('/programs')">
            <div class="card-body text-center">
                <p class="card-text">Programs</p>
            </div>
        </div>
    </div>
</div>